**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules
gha-creds-*.json

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
docs
packages/api/src/files/documents/bomb.odt

# Ignore all hidden files
.*
